<!-- filepath: c:\Users\givenchy\VisualStudio\Stage\portofolio\src\app\app.component.html -->
<div>
  <div class="h-screen bg-trasparent px-12">
    <app-header></app-header> <!-- Add your header component here -->
    <div class="bg-purple-500 h-full rounded-4xl">
      <div>text</div>
      <div>text</div>
    </div>
  </div>
  <div class="h-screen bg-red-500">
    <div>Go</div>
    <div>Nodejs</div>
    <div>Angular</div>
    <div>Ts</div>
    <div>Php</div>
    <div>Sql</div>
    <div>React</div>
    <div>Js</div>
    <div>Xml</div>
    <div>Git</div>
    <div>tailwind</div>
    <div>boostrap</div>
    <div>sass</div>
    <div>Vue</div>
    <div>html</div>
    <div>css</div>
    <div>laravel</div>
  </div>
  <div class="h-screen bg-green-500">1</div>
</div>
<router-outlet></router-outlet>